fastapi                       0.63.0
Jinja2                        2.11.3    3.0
Mako                          1.0.7
pip                           21.1.1
SQLAlchemy                    1.4.15
urllib3                       1.25.11
uvicorn                       0.13.4
